#strona{
    margin: 1% 25%;
    width: auto;
    float: bottom;
}
video, audio, iframe{
    margin-top: 1%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 10px;
}
@media screen and (max-width: 896px){
    #strona{margin: 5%}
}